@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.addAnnonces {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addAnnonces section:nth-child(1),
.addAnnonces section:nth-child(1) form {
    display: flex;
}

.addAnnonces section:nth-child(1) form {
    display: flex;
    flex-direction: column;
}

.addAnnonces .img img {
    width: 110px;
    height: auto;
}